
h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin: 0.25em 0px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  margin: 0.25em 0px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  margin: 0.25em 0px;
  font-weight: bold;
}

#resume-content{
  width: 816px;
}

.personal-section {
  text-align: center;
}

.resume-section {
  padding: 0px 10px;
}

.divider {
  color: #a8a8aec9;
  font-size: 12px;
 }
