h1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

#resume-content {
  width: 790x;
  margin: 5px;
}

.personal-section {
  text-align: center;
}

.body-section {
  padding: 0px 20px;
}

.body-sub-section {
  padding: 0px 10px;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.divider {
  color: #a8a8aec9;
  font-size: 13px;
}

.horizonRule {
  border-top: 1px solid #a8a8aec9;
  margin: 3px 0px;
}

.document {
  /* A4 paper size ratio */
  width: 794px;
  height: 1123px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;
  border: 1px solid #a8a8aec9;
}

.document::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #a8a8aec9;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.document::after {
  top: 1123px;
}

hr {
  border-top: 1px solid #a8a8aec9;
  margin: 3px 0px;
}
