@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f2ef;
}

.full-page{
  width: calc(100vw - 75px);
}

.page {
  height: calc(100vh - 75px);
  background-color: white;
  padding: 15px;
  overflow: auto;
}

/* tip to override */
.ProseMirror-focused {
  outline: none;
}